[submodule "modules/meshtastic"]
	path = modules/meshtastic
	url = https://github.com/meshtastic/firmware.git
[submodule "modules/meshcore"]
	path = modules/meshcore
	url = https://github.com/OffbandMesh/meshcore-firmware.git
